*.log
.DS_Store
.env
.env.*.local
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules/
# Uncommenting the line below will prevent built assets from being committed
# For cPanel deployments without Node.js, built assets should be committed
# /public/build/
/public/hot
/public/storage
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/pail
/vendor/
composer.lock
Homestead.json
Homestead.yaml
Thumbs.db
